@charset "UTF-8";
@import "style-reset.css";
@import "style-standard.css";
@import "style-advance.css";

/* -------------------------------------------------------------
當使用Windows確認時，請加上下面的CSS。
確認完畢後請務必刪除或者放入註解中
@import "style-check.css";
---------------------------------------------------------------- */



/* 檔案資訊
----------------------------------------------------------------
【内容】
一併讀入外部CSS，並且提供該書的專有設定

【CSS檔案版本】
ver. 1

【細節】
・讀入外部CSS
・該書專有客製化區塊

【更新紀錄】
2016/10/13 ver.1.0b
・初版
---------------------------------------------------------------- */


/* -------------------------------------------------------------
 * 該書專有客製化區塊
 * ------------------------------------------------------------- */


/* 標題字體
---------------------------------------------------------------- */
/* 横排用 */
.hltr h1,
.hltr h2,
.hltr h3,
.hltr h4,
.hltr h5,
.hltr h6 {
  font-family: serif-tw, serif;
}
/* 直排用 */
.vrtl h1,
.vrtl h2,
.vrtl h3,
.vrtl h4,
.vrtl h5,
.vrtl h6 {
  font-family: serif-tw-v,serif-tw, serif;
}


/* 連結
---------------------------------------------------------------- */
/* 基本設定（上：横排　下：直排） */
.hltr a {
}
.vrtl a {
}
/* 未開啟連結 */
a:link {
}
/* 已開啟連結 */
a:visited {
}
/* 滑鼠移到其上時 */
a:hover {
}
/* 選擇時 */
a:focus {
}
/* 啟動時 */
a:active {
}


/* 特殊連結
---------------------------------------------------------------- */
/* 基本設定（上：横排　下：直排） */

/* .link-01
-------------------- */
.hltr a.link-01 {
}
.vrtl a.link-01 {
}
/* 未開啟連結 */
a.link-01:link {
}
/* 已開啟連結 */
a.link-01:visited {
}
/* 滑鼠移到其上時 */
a.link-01:hover {
}
/* 選擇時 */
a.link-01:focus {
}
/* 啟動時 */
a.link-01:active {
}

/* .link-02
-------------------- */
.hltr a.link-02 {
}
.vrtl a.link-02 {
}
/* 未開啟連結 */
a.link-02:link {
}
/* 已開啟連結 */
a.link-02:visited {
}
/* 滑鼠移到其上時 */
a.link-02:hover {
}
/* 選擇時 */
a.link-02:focus {
}
/* 啟動時 */
a.link-02:active {
}

/* .link-03
-------------------- */
.hltr a.link-03 {
}
.vrtl a.link-03 {
}
/* 未開啟連結 */
a.link-03:link {
}
/* 已開啟連結 */
a.link-03:visited {
}
/* 滑鼠移到其上時 */
a.link-03:hover {
}
/* 選擇時 */
a.link-03:focus {
}
/* 啟動時 */
a.link-03:active {
}


/* 注釋連結的底線與色彩（內文註解方）
---------------------------------------------------------------- */
/* 基本設定（上：横排　下：直排） */
.hltr a.noteref {
}
.vrtl a.noteref {
}
/* 未開啟連結 */
a.noteref:link {
}
/* 已開啟連結 */
a.noteref:visited {
}
/* 滑鼠移到其上時 */
a.noteref:hover {
}
/* 選擇時 */
a.noteref:focus {
}
/* 啟動時 */
a.noteref:active {
}


/* 注釋連結的底線與色彩（註解內容方）
---------------------------------------------------------------- */
/* 基本設定（上：横排　下：直排） */
.hltr a.note {
}
.vrtl a.note {
}
/* 未開啟連結 */
a.note:link {
}
/* 已開啟連結 */
a.note:visited {
}
/* 滑鼠移到其上時 */
a.note:hover {
}
/* 選擇時 */
a.note:focus {
}
/* 啟動時 */
a.note:active {
}


/* 標題設定（上：横排　下：直排）
---------------------------------------------------------------- */
/* 書名頁 */
.hltr .tobira-midashi {
}
.vrtl .tobira-midashi {
}
/* 大標 */
.hltr .oo-midashi {
}
.vrtl .oo-midashi {
}
/* 中標 */
.hltr .naka-midashi {
}
.vrtl .naka-midashi {
}
/* 小標 */
.hltr .ko-midashi {
}
.vrtl .ko-midashi {
}


/* 封面頁
----------------------------------------------------------------
顯示區域不顯示邊界
預設置放於正中間
---------------------------------------------------------------- */
body.p-cover {
  margin:     0;
  padding:    0;
  text-align: center;
}
body.p-cover .main {
}


/* 只有圖片的頁面画像のみのページ
----------------------------------------------------------------
顯示區域不顯示邊界
預設置放於正中間
---------------------------------------------------------------- */
body.p-image {
  margin:     0;
  padding:    0;
  text-align: center;
}
body.p-image .main {
}


/* 以文字為主的頁面
---------------------------------------------------------------- */
body.p-text {
}
body.p-text .main {
}


/* 書名頁
---------------------------------------------------------------- */
body.p-titlepage {
}
body.p-titlepage .main {
}


/* 版權頁
---------------------------------------------------------------- */
body.p-colophon {
}
body.p-colophon .main {
}


/* 目錄頁
---------------------------------------------------------------- */
body.p-toc {
}
body.p-toc .main {
}


/* 電子書說明頁
---------------------------------------------------------------- */
body.p-caution {
}
body.p-caution .main {
}


/* 廣告頁
---------------------------------------------------------------- */
body.p-ad {
}
body.p-ad .main {
}


