@charset "UTF-8";
@import "style-reset.css";
@import "style-standard.css";
@import "style-advance.css";
@import "font.css";

/* -------------------------------------------------------------
當使用Windows確認時，請加上下面的CSS。
確認完畢後請務必刪除或者放入註解中
@import "style-check.css";
---------------------------------------------------------------- */



/* 檔案資訊
----------------------------------------------------------------
【内容】
一併讀入外部CSS，並且提供該書的專有設定

【CSS檔案版本】
ver. 1

【細節】
・讀入外部CSS
・該書專有客製化區塊

【更新紀錄】
2016/10/13 ver.1.0b
・初版
---------------------------------------------------------------- */


/* -------------------------------------------------------------
 * 該書專有客製化區塊
 * ------------------------------------------------------------- */

em {
	font-style: normal;
	border-bottom: 1px solid black;
}

strong {
	font-weight: normal;
    text-decoration: underline;
    text-decoration-style: wavy;
    -webkit-text-decoration-style: wavy;
}

code {
	border: 1px solid black;
	padding: 1px 3px;
	margin: 0 3px;
}

rt {
	font-family: bopomofo, serif;
	font-size: 26%;
	text-align: center;
	text-orientation: upright;
	letter-spacing: 0;
}

.salt rt {
	font-feature-settings: 'salt' 1;
}

/* 標題字體
---------------------------------------------------------------- */
/* 横排用 */
.hltr h1,
.hltr h2,
.hltr h3,
.hltr h4,
.hltr h5,
.hltr h6 {
  font-family: serif-tw, serif;
}
/* 直排用 */
.vrtl h1,
.vrtl h2,
.vrtl h3,
.vrtl h4,
.vrtl h5,
.vrtl h6 {
  font-family: serif-tw-v,serif-tw, serif;
}

/* 標題預設樣式
---------------------------------------------------------------- */

/* 直排用 */
.vrtl h1 {
  font-size: 1.6rem;
  margin: 0 1rem;
}
.vrtl h2 {
  font-size: 1.4rem;
  margin: 0 1.1rem;
}
.vrtl h3 {
  font-size: 1.2rem;
  margin: 0 1.2rem;
}
.vrtl h4 {
  font-size: 1rem;
  margin: 0 1.3rem;
}
.vrtl h5 {
  font-size: 1rem;
  margin: 0 0.4rem;
}
.vrtl h6 {
  font-size: 1rem;
  margin: 0 0.4rem;
}

/* 橫排用 */
.hltr h1 {
  font-size: 1.6rem;
  margin: 1rem 0;
}
.hltr h2 {
  font-size: 1.4rem;
  margin: 1.1rem 0;
}
.hltr h3 {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}
.hltr h4 {
  font-size: 1rem;
  margin: 1.3rem 0;
}
.hltr h5 {
  font-size: 1rem;
  margin: 0.4rem 0;
}
.hltr h6 {
  font-size: 1rem;
  margin: 0.4rem 0;
}

/* 引言預設預設樣式
---------------------------------------------------------------- */

/* 直排用 */
.vrtl blockquote {
  margin: 2rem 1.8rem 0;
}

/* 橫排用 */
.hltr blockquote {
  margin: 1.8rem 0rem 1.8rem 2rem;
}

/* 段落預設行距與對齊方式
---------------------------------------------------------------- */

p {
  line-height: 1.7;
  text-align: justify;
  font-family: serif-tw, serif;
}

/* 連結
---------------------------------------------------------------- */
/* 基本設定（上：横排　下：直排） */
.hltr a {
}
.vrtl a {
}
/* 未開啟連結 */
a:link {
}
/* 已開啟連結 */
a:visited {
}
/* 滑鼠移到其上時 */
a:hover {
}
/* 選擇時 */
a:focus {
}
/* 啟動時 */
a:active {
}


/* 特殊連結
---------------------------------------------------------------- */
/* 基本設定（上：横排　下：直排） */

/* .link-01
-------------------- */
.hltr a.link-01 {
}
.vrtl a.link-01 {
}
/* 未開啟連結 */
a.link-01:link {
}
/* 已開啟連結 */
a.link-01:visited {
}
/* 滑鼠移到其上時 */
a.link-01:hover {
}
/* 選擇時 */
a.link-01:focus {
}
/* 啟動時 */
a.link-01:active {
}

/* .link-02
-------------------- */
.hltr a.link-02 {
}
.vrtl a.link-02 {
}
/* 未開啟連結 */
a.link-02:link {
}
/* 已開啟連結 */
a.link-02:visited {
}
/* 滑鼠移到其上時 */
a.link-02:hover {
}
/* 選擇時 */
a.link-02:focus {
}
/* 啟動時 */
a.link-02:active {
}

/* .link-03
-------------------- */
.hltr a.link-03 {
}
.vrtl a.link-03 {
}
/* 未開啟連結 */
a.link-03:link {
}
/* 已開啟連結 */
a.link-03:visited {
}
/* 滑鼠移到其上時 */
a.link-03:hover {
}
/* 選擇時 */
a.link-03:focus {
}
/* 啟動時 */
a.link-03:active {
}


/* 注釋連結的底線與色彩（內文註解方）
---------------------------------------------------------------- */
/* 基本設定（上：横排　下：直排） */
.hltr a.noteref {
}
.vrtl a.noteref {
}
/* 未開啟連結 */
a.noteref:link {
}
/* 已開啟連結 */
a.noteref:visited {
}
/* 滑鼠移到其上時 */
a.noteref:hover {
}
/* 選擇時 */
a.noteref:focus {
}
/* 啟動時 */
a.noteref:active {
}


/* 注釋連結的底線與色彩（註解內容方）
---------------------------------------------------------------- */
/* 基本設定（上：横排　下：直排） */
.hltr a.note {
}
.vrtl a.note {
}
/* 未開啟連結 */
a.note:link {
}
/* 已開啟連結 */
a.note:visited {
}
/* 滑鼠移到其上時 */
a.note:hover {
}
/* 選擇時 */
a.note:focus {
}
/* 啟動時 */
a.note:active {
}


/* 文字頁面
---------------------------------------------------------------- */
body.p-text {
}
body.p-text .main {
}


/* 書名頁
---------------------------------------------------------------- */
body.p-titlepage {
}
body.p-titlepage .main {
}


/* 版權頁
---------------------------------------------------------------- */
body.p-colophon {
}
body.p-colophon .main {
}


/* 目錄頁
---------------------------------------------------------------- */
body.p-toc {
}
body.p-toc .main {
}


/* 電子書說明頁
---------------------------------------------------------------- */
body.p-caution {
}
body.p-caution .main {
}


/* 廣告頁
---------------------------------------------------------------- */
body.p-ad {
}
body.p-ad .main {
}


