@charset "UTF-8";


/* 檔案資訊
----------------------------------------------------------------
【内容】
嵌入字體用樣式表

【CSS檔案版本】
ver.1

【細節】
・設定嵌入字體

【更新紀錄】
2018/11/22 ver.1.0
・初版
---------------------------------------------------------------- */


/* -------------------------------------------------------------
 * 指定嵌入用字體名稱與指定字體檔案
 * ------------------------------------------------------------- */


@font-face {
    font-family: bopomofo;
    src: url('../font/bopomofo.ttf') format('TrueType');
}

@font-face {
    font-family: sourcethai;
    src: url('../font/notosthai.otf') format('OpenType');
}

/* -------------------------------------------------------------
 * 將特定語言標籤對應到嵌入字體名稱
 * ------------------------------------------------------------- */
 
:lang(th) {
	font-family: sourcethai;
}